<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR-Code P3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QR-Code</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-item>
    <ion-input type="text" placeholder="INPUT YOUR QRCODE DATA's" [(ngModel)]="qrData">
    </ion-input>
  </ion-item> -->

  <div id="container">
    <strong>P3 Attendance</strong>

    <!-- <ion-segment [(ngModel)] ="elementType">
      <ion-segment-button value="canvas">
        <ion-label>Canvas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="img">
        <ion-label>Image</ion-label>
      </ion-segment-button>
      <ion-segment-button value="url">
        <ion-label>URL</ion-label>
      </ion-segment-button>
    </ion-segment> -->

    <!-- <ion-button expand="full" (click)="scanCode()" color="primary" id="qrcode" name="qrcode">
      <ion-icon  name="qr-scanner"></ion-icon>
      Scan Code
    </ion-button> -->
    
    <!-- <ngx-qrcode 
      [qrc-element-type]="elementType" 
      [qrc-value] = "qrData"
      qrc-class = "aclass"
      qrc-errorCorrectionLevel = "L">
    </ngx-qrcode> -->

    <ion-card *ngIf="qrData" text-center>
      <ngx-qrcode [qrc-value]="qrData" [qrc-element-type]="elementType" qrc-class="my-code">
      </ngx-qrcode>
      <ion-button expand="full" (click)="scanCode()" color="primary" id="qrcode" name="qrcode">
        <ion-icon  name="qr-scanner"></ion-icon>
        Scan Code
      </ion-button>
      <!-- <ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="downloadQR()" *ngIf="elementType === 'canvas'">
          <ion-icon name="download" slot="start"></ion-icon>
          Download QR Code
        </ion-button>
      </ion-card-content> -->
    </ion-card>

    <ion-card *ngIf="found">
      <ion-card-content>
        Nama : {{nama}}
      </ion-card-content>
      <ion-card-content>
        Perusahaan : {{Perusahaan}}
      </ion-card-content>
      <ion-card-content>
        No. Meja : {{NoMeja}}
      </ion-card-content>
      <ion-card-content>
        Sudah Hadir
      </ion-card-content>
    </ion-card>
  </div>

  
</ion-content>
